@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.dashboard-nav-container{
    display: flex;
    width: 19.5%;
    background-color: #7F00C3;
    min-height: 89vh;
}

.dashboard-nav{
    width: 100%;
    margin-top: 15px;
}

.list-item{
    font-weight: 600;
    color: #fff;
    height: 46px;
    padding-left: 38px;
    list-style: none;
    display: flex;
    align-items: center;
    border-left: 4px solid #7F00C3;
    cursor: pointer;
    /* transition: all 0.2s; */
    font-size: 0.85rem;
}

.list-item:hover{
    border-left: 4px solid rgba(255, 255, 255, 0.541);
    background-color: rgba(0, 0, 0, 0.096);
}

.profile-icon{
    color: #fff;
    margin-right: 12px;
    font-size: 14px;
}
.middle{
    font-size: 13px !important;
}

.active-dashboard{
    border-left: 4px solid #fff;
    background-color: rgba(255, 255, 255, 0.199);
}

.profile-page{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 89vh;
    background-color: rgb(230, 230, 230);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-page h2{
    color: rgb(97, 97, 97);
}