.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 17px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked+.switch::before {
    transform: translateX(13px);
    background-color: #fff;
}

.toggle-switch input[type="checkbox"]:checked+.switch {
    background-color: #7F00C3;
}